--- 
title: Home
description: Aspiring full-stack software developer from Melbourne, Australia.
---

<h3 class="intro">A few of my <a class="nounderline" href="/projects/">projects</a></h3>

<div class="section group">
    <% sorted_projects.first(3).each do |project| %>
        <div class="col span_1_of_3">
        <a href=<%= project.path %>>
            <img class="center" style="max-width: 200px; vertical-align: bottom;" src="<%= icon(project) %>" srcset="<%= highres_icon(project) %> 2x" alt="Project icon"></a>
            <h1 style="text-align: center"><%= link_to project[:title], project.path %></h1>
	    </div>
    <% end %>
</div>

<h3 class="intro">My latest <a class="nounderline" href="/blog/">blog posts</a></h3>

<% published_articles.first(5).each do |post| %>
    <article>
        <h1><%= link_to post[:title], post.path %></h1>
        <aside><%= formatted_date(post) %></aside>
    </article>
<% end %>

<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "Josh Parnham",
    "url" : "http://joshparnham.com",
    "alumniOf": "Monash",
    "birthDate": "1995.10.31",
    "gender": "male",
    "nationality": "Australian",
    "sameAs" : [
        "https://linkedin.com/in/joshparnham/",
        "https://facebook.com/josh.parnham/",
        "https://twitter.com/joshparnham/",
        "https://instagram.com/joshparnham/"
    ]
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Josh Parnham",
    "url": "http://joshparnham.com"
}
</script>