--- 
title: Projects
description: Collection of various software projects that I've worked on.
---

<div style="width: 100%;">  
    <% sorted_projects.each do |project| %>
        <div class="project" style="margin-top: 20px; margin-bottom: 20px;">
            <a class="nounderline" href="<%= project.path %>">
                <div class="section group">
                    <div class="col span_1_of_3">
                        <img src="<%= icon(project) %>" style="max-width: 150px; display: block; margin: auto">
                    </div>
                    <div class="col span_2_of_3">
                        <h3 style="margin-bottom: 10px; margin-top: 10px;"><%= project[:title] || "" %></h3>
                        <span><%= project[:description] || "" %></span>
                    </div>
                </div>
            </a>
        </div>
    <% end %>
</div>
