<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Josh Parnham - <%= @item[:title] %></title>
        <% if @item[:description] %><meta name="description" content="<%= @item[:description] %>"><% end %>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="/favicon-png.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22626343-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
        </script>
    </head>
    <body>
        <header role="banner" itemscope itemtype="http://schema.org/WPHeader">
            <hgroup>
                <a class="nounderline" href="/"><h1 itemprop="name">Josh Parnham</h1></a>
                <nav role="navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                    <ul>
                        <li><a itemprop="url" href="/blog/">Blog</a></li>
                        <li><a itemprop="url" href="/projects/">Projects</a></li>
                        <li><a itemprop="url" href="/about/">About</a></li>
                    </ul>
                </nav>
            </hgroup>
        </header>

        <main role="main" itemscope itemprop="mainContentOfPage">
            <section class="content">
                <% render 'breadcrumbs' do %><% end %>
                <%= yield %>
                <% render 'footer' do %><% end %>
            </section>
        </main>
        <script src="https://use.fontawesome.com/e33a98c0d1.js" async></script>
        <script src="/js/build.js" async></script>
    </body>
</html>
