<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Josh Parnham - <%= @item[:title] %></title>
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22626343-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
        </script>
    </head>
    <body>
        <div class="header">
            <div id="headercontent">
                <a class="nounderline" href="/"><h1>Josh Parnham</h1></a>
                <ul class="nav">
                    <li id="nav"><a href="/blog/">Blog</a></li>&nbsp;<p id="seperator">|</p>&nbsp;
                    <li id="nav"><a href="/projects/">Projects</a></li>&nbsp;<p id="seperator">|</p>&nbsp;
                    <li id="nav"><a href="/about/">About</a></li>
                </ul>
            </div>
        </div>

        <section class='content'>
            <%= yield %>
            <% render 'footer' do %>
            <% end %>
        </section>
    </body>
</html>
