<footer role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <hr>
    <a href="mailto:joshparnham+blog@gmail.com"><i class="fa fa-envelope-o"></i></a>
    <a href="http://twitter.com/joshparnham"><i class="fa fa-twitter"></i></a>
    <a href="http://github.com/josh-"><i class="fa fa-github"></i></a>
    <a href="http://linkedin.com/in/joshparnham"><i class="fa fa-linkedin"></i></a>
    <a href="http://keybase.io/joshparnham"><i class="fa fa-key"></i></a>

    <small class="copyright">&copy; <span itemprop="copyrightYear"><%= Time.now.year.to_s %></span> <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Josh Parnham</span></span></small>
</div>
